<div class="jumbotron">
  <h3 class="display-7">ข้อมูลการติดต่อ มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน นครราชสสีมา</h3>
  <p class="lead">สถานที่ตั้ง : มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน
    744 ถ.สุรนารายณ์ อ.เมือง จ.นครราชสีมา 30000
    โทรศัพท์ : 044-233000 <br> โทรสาร : 044-233052 อีเมล์ :  info@rmuti.ac.th</p>
  <hr class="my-4">
  <h4 class="display-9">การติดต่อหน่วยงานภายใน กรุณาโทร 044-233-000 จากนั้นต่อไปที่หมายเลขหน่วยงานที่ท่านต้องการติดต่อ ตัวอย่าง 044-233-000 ต่อ 2290</h4>
  <p class="lead">ติดต่อฝ่ายประชาสัมพันธ์ ต่อ 2290, 2292 <br>
    ติดต่อขอใช้พื้นที่หรือสถานที่ภายในมหาวิทยาลัย (งานบริหารสินทรัพย์) ต่อ 2241, 2240 <br>
    ติดต่อข้อมูลเกี่ยวกับการเข้าศึกษาต่อ ต่อ 2734 <br>
    ติดต่อขอข้อมูลงานทะเบียน ต่อ 2751 <br>
  <a class="btn btn-outline-primary btn-lg" href="https://www.rmuti.ac.th/2015/images/files/phone-rmuti1.pdf" role="button">หมายเลขโทรศัพภายในหน่วยงานอื่นๆ</a>&nbsp;&nbsp;
  <a class="btn btn-outline-primary btn-lg" href="https://www.rmuti.ac.th/2015/th/" role="button">www.rmuti.ac.th</a>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4 class="display-9">» แผนที่ภายในมหาวิทยาลัย</h4>
 <div style="text-align: center">
  <br>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.551588066346!2d102.11704340502443!3d14.987577560892493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31194b80019e1771%3A0xc6979e02d8d878c7!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lij4Liy4LiK4Lih4LiH4LiE4Lil4Lit4Li14Liq4Liy4LiZ!5e0!3m2!1sth!2sth!4v1544849799096" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
 <img src="https://www.rmuti.ac.th/2015/images/map_new_1_ver_6.jpg" width="1000"high="1000">
</div>
    </div>
  </div>
